<div class="row surveyCard " ng-repeat="question in questions">
  <div class="col-lg-12 table">
    <h5>{{question.subject}}</h5>
    <h1>{{question.title}}</h1>
    <p>{{question.content}}</p>
    <form>
      <script>

      </script>
      <input ng-model="data.puppyData[question.name]"  type="radio" name={{question.name}} value={{question.value_01}}> {{question.option1}}<br>
      <input ng-model="data.puppyData[question.name]" type="radio" name={{question.name}} value={{question.value_02}}> {{question.option2}}<br>

      <!-- Optional inputs -->
      <input ng-model="data.puppyData[question.name]" ng-show="question.value_03" type="radio" name={{question.name}} value={{question.value_03}}> {{question.option3}}<br ng-show="question.value_03">
      <input ng-model="data.puppyData[question.name]" ng-show="question.value_04" type="radio" name={{question.name}} value={{question.value_04}}> {{question.option4}}<br ng-show="question.value_04">
      <input ng-model="data.puppyData[question.name]" ng-show="question.value_05" type="radio" name={{question.name}} value={{question.value_05}}> {{question.option5}}<br ng-show="question.value_05">
      <input ng-model="data.puppyData[question.name]" ng-show="question.value_06" type="radio" name={{question.name}} value={{question.value_06}}> {{question.option6}}<br ng-show="question.value_06">
      <input ng-model="data.puppyData[question.name]" ng-show="question.value_07" type="radio" name={{question.name}} value={{question.value_07}}> {{question.option7}}
      <!-- <input type="radio" name="default" value="other"> Other -->
    </form>
  </div>
  <a class="btn btn-lg btn-success btn-result" href="#/survey" role="button" data-ng-show='$first || $middle'>다음 질문</a>
  <a ng-click="debug()" class="btn btn-lg btn-success btn-result" href="#/result" role="button" data-ng-show='$last'>나에게 맞는 반려견 보기</a>
</div>
