/* Space out content a bit */
body {
  /*padding-top: 80px;
  padding-bottom: 20px;*/
  /*font-family : "Spoqa Han Sans", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;;*/
  line-height: 1.6;
}

md-card {
  width: 740px;
  height: 480px;
}

header, footer {
  position: fixed;
  z-index: 10;
}
