/* Space out content a bit */
body {
  /*padding-top: 80px;
  padding-bottom: 20px;*/
  /*font-family : "Spoqa Han Sans", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;;*/
  line-height: 1.6;
}

.intro {
  background-image: url("../assets/bg-image.png");
  background-size: cover;
}

md-card.question {
  width: 740px;
  height: 480px;
}

md-card.tabContent {
  width: 740px;
  padding: 50px;
}

div.mydog {
  width: 640px;
}

header, footer {
  position: fixed;
  z-index: 10;
}

.md-virtual-repeat-offsetter {
transition: transfrom 2s ease-in-out;

}
