/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family : arial;
}

/* Everything but the puppyfinder gets side spacing for mobile first views */
.header,
.surveyCard,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main surveyCard message and sign up button */
.intro {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.intro .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting surveyCard content */
.surveyCard {
  margin: 40px 0;
}
.surveyCard p + h1 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .surveyCard,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the intro for visual effect */
  .intro {
    border-bottom: 0;
  }
}

.footer {
    text-align: center;
    padding: 20px 0px;
}

.btn-result {
    text-align : center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

