/* reset css */
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #424242;
}

ul {
  padding: 0;
  margin: 0;
}

/* Space out content a bit */
body {
  /*padding-top: 80px;
  padding-bottom: 20px;*/
  /*font-family : "Spoqa Han Sans", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;;*/
  line-height: 1.6;
}

h1 {
  font-size: 54px;
  line-height: 1.35;
  margin: 0;
}

p.intro {
  font-weight: 700;
  margin-bottom: 20px;
}

li.dog {
  padding: 0 20px 0 0;
}

li.dog:last-child {
  padding: 0;
}

div.intro {
  /*background-image: url("../assets/bg-image.jpg");*/
  background-size: cover;
}

.vid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  margin: 0;
}

.vid video {
  width: 100%;
  min-width: 1600px;
}

.title {
  z-index: 10;
  color: black;
}
div.question-wrapper {
  background-color: #ABABAB;
  background-size: cover;
}

div.in-card {
  width: 640px;
}

md-card.question {
  /*opacity: 0.8;*/
  width: 740px;
  height: 480px;
}

md-card.tabContent {
  margin: 50px 0 0 0;
  width: 740px;
  padding: 50px;
}

div.mydog {
  width: 640px;
}

header, footer {
  position: fixed;
  z-index: 10;
}

header {
  top: 40px;
  left: 40px;
}

header a {
  font-size: 20px;
  font-weight: 700;
  color: #E7E7E7;
}

.md-raised {
  margin: 0;
}

.md-raised.intro {
  width: 270px;
  height: 46px;
}

.md-raised.question {
  width: 640px;
  height: 46px;
  background-color: #009688;
  color: white;
}

.question-header {
  font-size: 12px;
  padding: 0;
  margin-bottom: 14px;
}

h1.question-h1 {
  font-size: 36px;
}

fieldset {
  margin:0 0 20px 0;
  padding:0;
  border-width: 0;
}

.result-wrapper {
  background-color: #E0F2F1;
}

.result-wrapper h1 {
  margin: 0 0 40px 0;
}
