<head>
  <meta charset="utf-8">
  <title>관리자 페이지</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  
  <script src="remove.js"></script>

</head>
<body ng-app="RemoveApp">
  
  <div class="container" ng-controller="RemoveController">
    <h1 style="text-align: center;">관리자 페이지(삭제)</h1>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            견종
          </th>
          <th>
            고객 선호도
          </th>
          <th>
            삭제 여부
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="puppy in puppies">
          <td>{{puppy.breed}}</td>
          <td>{{puppy.num_selected}}</td>
          <td>
            <button ng-click="remove(puppy.breed)" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  

</body>
</html>